PORT=5000
MONGODB_URI=mongodb+srv://averagem47_db_user:<db_password>@lingobridge.yl3fhry.mongodb.net/?appName=LingoBridge
JWT_SECRET=21929a4a92da9bce1a13a24142e70190243cf999631d8193a8778ac7d21315d7
JWT_EXPIRE=7d
AI_API_KEY=your_ai_api_key_here
AI_PROVIDER=openai
